# Maven
target/

# Compiled Java files
*.class

# Logs
*.log

# IDE - IntelliJ IDEA
.idea/
*.iml

# IDE - Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
